.game-container {
    top: 54px;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: calc(100vh - 54px);
    overflow: hidden;
    position: absolute;
    cursor: pointer;
}

.game-container > .map {
    width: 6400px; 
    width: 6400px;
}

.game-container > .map > .tile-row {
    margin: 0;
    padding: 0;
    border: 0 none;
}

.game-container > .map > .tile-row > .tile {
    margin: 0;
    padding: 0;
    border: 0 none;
    width: 64px;
    height: 64px;
    display: table-cell;
    background: url(images/terrains.png);
}

.game-container > .map > .tile-row > .tile.tile-grass {
    background-position: 0px 0px;
}

.game-container > .map > .tile-row > .tile.tile-grass-land {
    background-position: 192px 350px;
}


/**
 * Tanks
 */
.game-container > .map > .tile-row > .tile > .tank {
    margin: 0;
    padding: 0;
    border: 0 none;
    width: 100%;
    height: 100%;
}

.game-container > .map > .tile-row > .tile > .tank.attacker {
    background: url(images/attacker-tank.png);
}

.game-container > .map > .tile-row > .tile > .tank.defender {
    background: url(images/defender-tank.png);
}

.game-container > .map > .tile-row > .tile > .tank.down {
    background-position: 0px 0px;
}
.game-container > .map > .tile-row > .tile > .tank.top {
    background-position-x: 0px;
    background-position-y: 64px;
}

.game-container > .map > .tile-row > .tile > .tank.right {
    background-position-x: 0px;
    background-position-y: 128px;
}
.game-container > .map > .tile-row > .tile > .tank.left {
    background-position-x: 0px;
    background-position-y: 192px;
}

/**
 * Building
 */
.game-container > .map > .tile-row > .tile > .building {
    margin: 0;
    padding: 0;
    border: 0 none;
    width: 100%;
    height: 100%;
    background: url(images/buildings.png);
    background-position-x: 65px;
    background-position-y: -17px;
}

/**
 * Lives
 */
 .game-container > .map > .tile-row > .tile > .map-element-life-bar {
    position: relative;
    top: 4px;
    margin: 0px 7px 0px 7px;
    height: 3px;
    background-color: lightcoral;
 }

 .game-container > .map > .tile-row > .tile > .map-element-life-bar > .map-element-life {
    height: 3px;
    background-color: lightgreen;
 }

 /**
  * Map element selection
  */
.pulse {
    display: block;
    cursor: pointer;
    box-shadow: inset 0px 0px 0 4px rgba(209, 128, 21, 0.9);
    animation: pulse 2s infinite;
}
.pulse:hover {
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: inset 0 0 0 0px rgba(209, 128, 21, 0.9);
    }
    70% {
        -webkit-box-shadow: inset 0 0 0 10px rgba(209, 128, 21, 0);
    }
    100% {
        -webkit-box-shadow: inset 0 0 0 4px rgba(209, 128, 21, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: inset 0 0 0 0px rgba(209, 128, 21, 0.9);
        box-shadow: inset 0 0 0 0px rgba(209, 128, 21, 0.9);
    }
    70% {
        -moz-box-shadow: inset 0 0 0 10px rgba(209, 128, 21, 0);
        box-shadow: inset 0 0 0 10px rgba(209, 128, 21, 0);
    }
    100% {
        -moz-box-shadow: inset 0 0 0 4px rgba(209, 128, 21, 0);
        box-shadow: inset 0 0 0 4px rgba(209, 128, 21, 0);
    }
}

/**
 * Attack sprites
 */
 .map-attack-in-progress {
    display: block;
    cursor: pointer;
    animation: attack 2s infinite;
    background: url(images/attack-sprites.png);
    background-position-x: 0px;
    background-position-y: 0px;
    width: 64px;
    height: 64px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}

 /* @-webkit-keyframes attack {
    0% {
        -webkit-box-shadow: inset 0 0 0 0px rgba(209, 128, 21, 0.9);
    }
} */
@keyframes attack {
    0%, 6.9%   { opacity: 1; background-position: 192px 0px; }
    7%, 13.9%  { background-position: 128px 0px; }
    14%, 27.9% { background-position: 64px 0px; }
    28%, 34.9% { background-position: 0px 64px; }
    35%, 41.9% { background-position: 192px 64px; }
    42%, 48.9% { background-position: 128px 64px; }
    49%, 55.9% { background-position: 64px 64px; }
    56%, 62.9%  { background-position: 0px 128px; }
    63%, 69.9% { background-position: 192px 128px; }
    70%, 75.9% { background-position: 128px 128px; }
    76%, 99.9% { background-position: 64px 128px; }
    100% { opacity: 0; }
}

/**
 * Target selection
 */
.target {
    filter: brightness(0.4) invert(1);
}
